.profile{
    width: 480px;
    min-height: 565px;
    background-color: #e7ecf2;
    margin-left: auto;
    margin-right: auto;
    
}
.description{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid #cddff5;
}
.name{
    font-size: 30px;
    font-weight: 700;
    margin: 5px auto;
}
.tag{
    font-size: 20px;
    margin: 5px auto;
}
.location{
     font-size: 25px;
    margin: 5px auto;
}

.stats{
    background-color: #f3f6f9;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-left: 0;
        height: 120px;
    align-items: center;
    color: #2e4053;
}
.item{
    border: 2px solid #e7ecf2;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: inherit;
    justify-content: center;
    align-items: center;
}

.quantity{
  font-size: 25px;
   font-weight: 700;
}