.transactionHistory {
  width: 100%;
  background-color: #e7ecf2;
  text-align: center;
  border-collapse: collapse;
}

.transactionHistory thead {
  background-color: #e5e5e5;
}
.transactionHistory td,
.transactionHistory th {
  padding: 10px;
  border: 1px solid #222;
}
.transactionHistory th {
  font-size: 18px;
}
.transactionHistory td:first-child {
  text-align: left;
}

.transactionHistory tr:nth-child(2n) {
  background-color: #e5e5e5;
}
